* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  *::selection {
    background: #006241;
    color: #fff;
  }
  
  /* Estilos para el header */
  
  .header {
    background-color: #006241;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 3px 8px 15px 0px;
    z-index: 100;
  }
  
  .header__logo {
    width: 50px;
  }
  
  .header__container-login {
    display: none;
  }
  
  .header__nav {
    display: none;
  }
  
  .header__nav-link {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
  }
  
  .header__container-mobile i {
    color: #fff;
    font-size: 25px;
  }

  /*Estilos para el main */

.main {
    margin-top: 80px;
    padding: 15px 15px 60px;
  }
  
  .main__title {
    font-size: 50px;
    line-height: 1.2;
  }
  
  .main__title span {
    color: #006241;
  }
  
  .main__text {
    font-weight: bolder;
    margin-top: 20px;
  }
  
  .main__container-text {
    display: flex;
    flex-direction: column;
  }
  
  .main__container-logo {
    display: none;
  }

  /*Estilos para la galeria */

.gallery {
    background-color: #006241;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .gallery__imagen {
    width: 85%;
    margin-top: 15px;
  }

  /*Estilos para el sector de contacto */

.contact {
    background: #000;
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact__title {
    color: #006241;
    text-align: center;
    margin: 25px 25px;
    font-size: 35px;
  }
  
  .contact__form {
    background: #006241;
    padding: 15px;
    color: #fff;
    width: 280px;
  }
  
  .contact__input {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    color: #fff;
  }
  
  .contact__input label {
    font-size: 14px;
  }
  
  .contact__input input,
  .contact__input textarea {
    padding: 5px;
    border-radius: 7.5px;
    border: 0;
  }
  
  .contact__input input::placeholder,
  .contact__input textarea::placeholder {
    color: #006241;
    font-size: 12px;
    font-weight: bolder;
  }
  
  .contact__input input:focus,
  .contact__input textarea:focus {
    background: #000;
    color: #fff;
  }
  
  .contact__btn {
    color: #fff;
    background: inherit;
    border: 1px solid #fff;
    padding: 4px 0;
    width: 45%;
    font-size: 15px;
    border-radius: 7.5px;
    margin-top: 20px;
    transition: all 0.5s;
    cursor: pointer;
  }
  
  .contact__btn:hover {
    background: rgba(255, 255, 0, 0.685);
    color: #fff;
    border: 1px solid rgba(255, 255, 0, 0.685);
  }

  /*Estilos para las cards */

.cards {
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cards__card {
    background: #006241;
    width: 85%;
    margin-top: 45px;
    color: #fff;
    position: relative;
    padding-bottom: 25px;
  }
  
  .cards__card-img {
    width: 100%;
  }
  
  .cards__card-title span {
    color: rgba(255, 255, 0, 0.685);
  }
  
  .cards__card-boton {
    color: #fff;
    background: inherit;
    border: 2px solid #fff;
    padding: 5px 30px;
    width: 120px;
    font-size: 13px;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: all 0.5s;
    cursor: pointer;
    text-decoration: none;
  }
  
  .cards__card-boton:hover {
    background: rgba(255, 255, 0, 0.685);
    color: #fff;
    border: 2px solid rgba(255, 255, 0, 0.685);
  }
  
  .cards__container-boton {
    display: flex;
    flex-direction: column;
  }
  
  .cards__container-boton a {
    width: 100%;
    margin: 7.5px 0 0;
    text-align: center;
  }
  
  .cards__card-text {
    font-size: 14px;
    margin: 7.5px 0 15px;
  }
  
  .cards__card-container-text {
    padding: 25px 15px;
  }
  
  .cards__card-circulo {
    background: yellow;
    border-radius: 50%;
    color: #000;
    width: 65px;
    height: 65px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -25px;
    top: -25px;
  }

  /*Estilos para el footer */

.footer {
    background: #000;
    padding: 25px 15px;
    color: #fff;
  }
  
  .footer__container-user {
    display: flex;
    flex-direction: column;
  }
  
  .footer__link-user,
  .footer__link-contacto {
    color: #006241;
    font-size: 18px;
    text-decoration: none;
  }
  
  .footer__container-redes {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    display: flex;
    justify-content: space-between;
  }
  
  .footer__container-redes i {
    color: #006241;
    font-size: 22px;
  }
  
  .footer__link-contacto {
    color: #086200;
  }

  /* tamaño tablet */
@media (min-width: 768px) {
    .header__container-mobile {
      display: none;
    }
  
    .header__container-login {
      display: block;
    }
  
    .header__container-login i {
      color: #fff;
      font-size: 30px;
    }
  
    .header__nav {
      display: block;
    }
  
    .main {
      display: flex;
      padding: 15px 30px 60px;
    }
  
    .main__container-logo {
      display: block;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .main__container-text {
      width: 50%;
    }
  
    .main__logo {
      width: 80%;
    }
  
    .gallery {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  
    .gallery__imagen {
      width: 30%;
      margin-top: 0;
    }
  
    .contact__form {
      width: 400px;
    }
  
    .cards {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  
    .cards__card {
      width: 40%;
    }
  
    .footer {
      display: flex;
      justify-content: space-between;
    }
  }
  
  /* tamaño desktop */
  @media (min-width: 1024px) {
    .main {
      display: flex;
      padding: 15px 100px 60px;
    }
  
    .main__logo {
      width: 350px;
    }
  
    .gallery {
      justify-content: center;
    }
  
    .gallery__imagen {
      width: 300px;
      margin-top: 0;
      margin-left: 25px;
    }
  
    .contact__form {
      width: 600px;
    }
  
    .contact {
      font-size: 18px;
    }
  
    .cards__card {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 350px;
      height: 450px;
      margin: 25px 50px;
    }
  
    .cards__card-boton {
      flex-direction: row;
    }
  
    .cards__card-boton a {
      margin-left: 7.5px;
    }
  
    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 200px;
    }
  
    .footer__container-redes,
    .footer__container-user,
    .footer__container-contacto {
      font-size: 40px;
    }
  }